<!DOCTYPE html>
<html>
<head>
	<title>welcome</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="file:///home/ananth/learning project/public/js/jQuery.min.js"></script>
  <script src="file:///home/ananth/learning project/public/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="file:///home/ananth/learning project/public/css/style.css">
  <link rel="stylesheet" type="text/css" href="file:///home/ananth/learning project/public/css/bootstrap.min.css">
</head>
<body class="container">
<h1><center>signup page</center></h1><br>
<div><center>
	<form role="form" class="form">
		<div class="form-group">
           <label for="name">user name</label>		
           <input type="name" class="form-control" placeholder="user name">	
		</div>
		
	    <div class="form-group">
           <label for="email">Email   </label>		
           <input type="email" class="form-control" placeholder="email">	
		</div>
		
		<div class="form-group">
           <label for="password">password</label>		
           <input type="password" class="form-control" placeholder="password">	
		</div>
		<div class="form-group">
			<label for="dob">dob</label>
			<input type="date" class="form-control" placeholder="DOB">
		</div>
        <div class="form-radio">
            <label for="gender">Gender</label>
            <label class="radio-inline">
            <input type="radio" name="male" >male</label>
            <label class="radio-inline">
            <input type="radio" name="male" >female</label>
         </div>
            <br>
         <button class="btn btn-success">submit</button>
    </form>

</center>

</div>
</body>
</html>