.container{
		background-color: rgba(38, 70, 76, 0.81);
	}
	.form{

		width: 340px;
    margin: auto;
    border: 1px solid #00FF8E;
	padding-top: 10px;
    padding-right: 9px;
    padding-bottom: 5px;
    padding-left: 12px;

	}
	.form-control{
		text-align: center;
	}